# MEDIDAS DE DISPERSÃO
***

Embora as medidas de posição forneçam uma sumarização bastante importante dos dados, elas podem não ser suficientes para caracterizar conjuntos distintos, especialmente quando as observações de determinada distribuição apresentarem dados muito dispersos.

## Desvio médio absoluto
***


# $$DM = \frac 1n\sum_{i=1}^{n}|X_i-\bar{X}|$$

In [21]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = pd.DataFrame(data = {'Fulano': [8, 10, 4, 8, 6, 10, 8],
                          'Beltrano': [10, 2, 0.5, 1, 3, 9.5, 10],
                          'Sicrano': [7.5, 8, 7, 8, 8, 8.5, 7]},
                 index = ['Matemática',
                          'Português',
                          'Inglês',
                          'Geografia',
                          'História',
                          'Física',
                          'Química'])
df.rename_axis('Matérias', axis = 'columns', inplace = True)
df

Matérias    Fulano  Beltrano  Sicrano
Matemática       8      10.0      7.5
Português       10       2.0      8.0
Inglês           4       0.5      7.0
Geografia        8       1.0      8.0
História         6       3.0      8.0
Física          10       9.5      8.5
Química          8      10.0      7.0

In [6]:
notas_fulano = df[['Fulano']]
notas_fulano

Matérias    Fulano
Matemática       8
Português       10
Inglês           4
Geografia        8
História         6
Física          10
Química          8

In [7]:
nota_media_fulano = notas_fulano.mean()[0]
nota_media_fulano

7.714285714285714

In [8]:
notas_fulano['Desvio'] = notas_fulano['Fulano'] - nota_media_fulano
notas_fulano

C:\Users\ANALUI~1\AppData\Local\Temp/ipykernel_40800/349761232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notas_fulano['Desvio'] = notas_fulano['Fulano'] - nota_media_fulano

Matérias    Fulano    Desvio
Matemática       8  0.285714
Português       10  2.285714
Inglês           4 -3.714286
Geografia        8  0.285714
História         6 -1.714286
Física          10  2.285714
Química          8  0.285714

In [9]:
notas_fulano['|Desvio|'] = notas_fulano['Desvio'].abs()
notas_fulano

Matérias    Fulano    Desvio  |Desvio|
Matemática       8  0.285714  0.285714
Português       10  2.285714  2.285714
Inglês           4 -3.714286  3.714286
Geografia        8  0.285714  0.285714
História         6 -1.714286  1.714286
Física          10  2.285714  2.285714
Química          8  0.285714  0.285714

In [10]:
notas_fulano['|Desvio|'].mean()

1.5510204081632648

In [14]:
# função do desvio medio absoluto 
desvio_medio_absoluto = notas_fulano['Fulano'].mad()
desvio_medio_absoluto

1.5510204081632648

## Variância
***

### Variância

A variância é construída a partir das diferenças entre cada observação e a média dos dados, ou seja, o desvio em torno da média. No cálculo da variância, os desvios em torno da média são elevados ao quadrado.

### Variância populacional

# $$\sigma^2 = \frac 1n\sum_{i=1}^{n}(X_i-\mu)^2$$

### Variância amostral

# $$S^2 = \frac 1{n-1}\sum_{i=1}^{n}(X_i-\bar{X})^2$$

In [22]:
notas_fulano['Variancia amostral'] = notas_fulano['Fulano'].var()
notas_fulano

Matérias    Fulano    Desvio  |Desvio|  Variancia amostral
Matemática       8  0.285714  0.285714            4.571429
Português       10  2.285714  2.285714            4.571429
Inglês           4 -3.714286  3.714286            4.571429
Geografia        8  0.285714  0.285714            4.571429
História         6 -1.714286  1.714286            4.571429
Física          10  2.285714  2.285714            4.571429
Química          8  0.285714  0.285714            4.571429

In [23]:
variancia = notas_fulano['Fulano'].var()
variancia

4.57142857142857

## Desvio padrão
***

Uma das restrições da variância é o fato de fornecer medidas em quadrados das unidades originais - a variância de medidas de comprimento, por exemplo, é em unidades de área. Logo, o fato de as unidades serem diferentes dificulta a comparação da dispersão com as variáveis que a definem. Um modo de eliminar essa dificuldade é considerar sua raiz quadrada.

### Desvio padrão populacional

# $$\sigma = \sqrt{\frac 1n\sum_{i=1}^{n}(X_i-\mu)^2} \Longrightarrow \sigma = \sqrt{\sigma^2}$$

### Desvio padrão amostral

# $$S = \sqrt{\frac 1{n-1}\sum_{i=1}^{n}(X_i-\bar{X})^2} \Longrightarrow S = \sqrt{S^2}$$

In [26]:
notas_fulano['Fulano'].std()

2.1380899352993947

In [28]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [42]:
# Assinale a alternativa que apresenta o valor do desvio padrão da variável Idade somente para as mulheres.
dataset.groupby(['Sexo']).std().loc['M']

Idade    16.64532
Name: M, dtype: float64